@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.resultText {
  font-family: 'Architects Daughter', cursive;
}

.notStale {
  composes: has-text-grey-darker from global;
}

.stale {
  composes: has-text-grey from global;
}

.singleRow {
  composes: is-size-1-desktop from global;
  composes: is-size-3-mobile from global;
  composes: is-size-2-tablet from global;
  min-height: 5rem;
}

.multipleRows {
  composes: is-size-3 from global;
}

.resultsContainer {
  flex: 5 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.rolloutButtonContainer {
  flex: 3 0;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.button {
  composes: button from global;
  composes: is-large from global;
  composes: is-dark from global;
}

.rollCount {
  composes: resultText;
  composes: is-size-2 from global;
}

.failedRolloutDisplay {
  align-self: center;
  padding-top: 4rem;
}

.failedRolloutText {
  composes: resultText;
  composes: is-size-2-desktop from global;
  composes: is-size-3-tablet from global;
  composes: is-size-4-mobile from global;
  composes: has-text-centered from global;
}

/* Bulma Mobile query */
@media screen and (max-width: 768px) {
  .failedRolloutDisplay {
    padding-bottom: 4rem;
  }
}
