.container {
  composes: fillTopPart from '../../styles.module.css';
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.attrCommon {
  composes: handwritingFont from '../../styles.module.css';
  composes: is-size-2-desktop from global;
  composes: is-size-3-touch from global;
}

.attribute {
  composes: attrCommon;
  composes: freshColor from '../../styles.module.css';
}

.staleAttribute {
  composes: attrCommon;
  composes: staleColor from '../../styles.module.css';
}
